.main-page {
    display: flex;
}

.summary {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.subpage-container {
    width: 70%;
    margin: 0 auto;
    min-height: 73vh;
}